<header id="header" class="fixed-top ">
<div class="container">
<nav class="nav-menu navbar navbar-expand-sm {{ .Site.Params.navbarBgColorClass | default .Site.Data.Defaults.navbarBgColorClass }}">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class='fa fa-code'></i> {{ .Site.Title }}</a>
    {{ if or .Site.Menus.main .Site.IsMultiLingual }}
  <button class="navbar-toggler mobile-nav-toggle d-lg-none" 
          type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<i class="fa fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav mx-auto">
        {{ with .Site.Menus.main}}
          {{ range sort . }}
      <li class="nav-item">
        <a class="nav-link menu-item  no-decoration {{ $.Site.Params.navbarLinkFgColorClass | default $.Site.Data.Defaults.navbarLinkFgColorClass }}" href="{{ .URL | relLangURL }}">
          {{ .Pre }}
          <span class="text-capitalize">{{ .Name }}</span>
        </a>
            </li>
          {{ end }}
        {{ end }}


      </ul>
        {{ if .Site.IsMultiLingual }}
          {{ $node := . }}
          {{ .Scratch.Set "separator" true }}
          {{ range (default .Site.Home.AllTranslations .Translations) }}
            {{ if ne $.Site.Language .Language }}
<a href="{{ .Permalink }}" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">{{ .Language.LanguageName }}</a>

            {{ end }}
          {{ end }}
        {{ end }}
  </div>
    {{ end }}
</nav>

</div>
</header>
