<section id="home" class="d-flex justify-center align-center text-center mt-5">
<div class="container">
	<div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <picture>
      <source srcset="/images/hero.webp" type="image/webp">
      <source srcset="/images/hero.svg" type="image/svg">
      <img class="img-responsive s-circle" src="{{ . | relURL }}" alt="Eorus Main Image">
      </picture>
    </div>

    <div class="col-lg-8 col-md-8 col-12">
      <h3 class="m-5">
      {{ partial "icon.html" (dict "name" "terminal" "class" "icon icon-lg" "title" "terminal") }}
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> - {{ i18n "homehello" }}
      </h3>
      <h4 class="">{{ i18n "homeinfo" }}</h4>
    </div>
  </div>
</div>
</section>


<section id="about" class="d-flex justify-center align-center text-center">
  <div class="container">
      <p class="p-2">{{ i18n "hometext" }}</p>
      <a href="/about" role=button class="btn btn-primary px-2 my-5">{{ i18n "homebut" }}</a>

      <nav class="justify-center">
      <ul>
        <li>
          <a href="https://github.com/eorus/" target="_blank">
            {{ partial "icon.html" (dict "name" "github" "class" "icon" "title" "Github") }}
          </a>
        </li>
        <li>
          <a href="https://www.flickr.com/photos/eorus/" target="_blank">
            {{ partial "icon.html" (dict "name" "camera" "class" "icon" "title" "Camera") }}
          </a>
        </li>
        <li>
          <a href="https://www.eorus.com/index.xml" target="_blank">
            {{ partial "icon.html" (dict "name" "rss" "class" "icon" "title" "RSS") }}
          </a>
        </li>
      </ul>
      </nav>
  </div>
</section>
<!-- {{ partial "post-list.html" . }} -->
