<section class="full-screen d-flex justify-content-center align-items-center text-center" id="about">
<div class="container grid-xl">
	<div class="columns profile">
			<div class="column col-4 col-md-4 col-sm-12">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarurl }}
      <picture>
      <source srcset="/images/hero.webp" type="image/webp">
      <source srcset="/images/hero.svg" type="image/svg">
      <img class="img-responsive s-circle" src="{{ . | relURL }}" alt="Eorus Main Image">
      </picture>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
    <div class="avatar"><img class="img-responsize rounded" src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="Eorus Main Image"></div>
    {{ end }}
         </div>
			<div class="column col-8 col-md-8 col-sm-12 py-2 my-2">
    <h1>
      <i class='fa fa-code'></i><a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> - {{ .Site.Params.homehello }}
    </h1>
    <h2>{{ .Site.Params.info }}</h2>
    <p class="p-2 m-2">{{ .Site.Params.hometext }}</p>
    <a href="/about" class="btn btn-primary px-2 m-2">{{ .Site.Params.homebut }}</a>

    {{ with .Site.Params.social }}
    <div class="social-links text-center">
      {{ range sort . "weight" }}
        {{ if .icon }}
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
        {{ else }}
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
      </div>
      </div>
</div>
</section>

<!-- {{ partial "post-list.html" . }} -->
