<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <header>
            <h1 class="entry-title">
      {{- if eq .Kind "term" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}</h1>
          </header>
            {{ partial "breadcrumbs.html" . }}
        </div>

      </div>
 </section>
<section class="container list m-5 mx-auto">


    {{ range .Paginator.Pages }}
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<ul class="timeline">
				<li>
                  <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
                  <span class="date float-right">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
                  <p class="intro">{{ .Summary }}</p>
				</li>
			</ul>
		</div>
	</div>
    {{ end }}

                        <ul class="pager">
{{ template "_internal/pagination.html" . }}
                        </ul>
</section>
