<!-- Template Main JS File -->
    {{ if not .Site.Params.hideColorSchemeToggle }}
      {{ if .Site.IsServer }}
        {{ $script := resources.Get "js/main.js" }}
        <script src="{{ $script.RelPermalink }}"></script>
      {{ else }}
        {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
        <script src="{{ $script.RelPermalink }}"></script>
      {{ end }}
    {{ end }}
      {{ if .Site.IsServer }}
        {{ $script := resources.Get "js/jquery.min.js" }}
        <script src="{{ $script.RelPermalink }}"></script>
      {{ else }}
        {{ $script := resources.Get "js/jquery.min.js" | minify | fingerprint }}
        <script src="{{ $script.RelPermalink }}"></script>
      {{ end }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
