body {
  font-family: "Open Sans";
}

body.posts section {
}

.profile img {
    width: 500px;
    border: 8px solid #ffffff;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Raleway", sans-serif;
}

.profile h1 a, .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.profile h2 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Raleway", sans-serif;
}
.profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

p.read-more {
  float:right;
}
article.post {
  padding: 1rem;
}

section.post {
  border:3px solid #dfdfdf;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background: #ffffff;
}
.full-screen {
    padding: 4rem 0;
}

.navbar {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.navbar a.btn {
      padding: 5px 10px;
}
.nav {
      display: inline;
    }
.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #dfdfdf !important;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size:1.5em;
}
.navbar-light .navbar-brand:hover {
    color: #fff;
}

ul i {
    font-size: 1em;
    color: #68A4C4;
  }

i {
   padding-right: 5px !important;
  }
.contact h1 {
  display:none;
}
body.page.contact .full-screen {
  padding:0 !important;
}
footer {
    background: #f1f6f8;
    padding: 1.6em 1.5em;
    font-size:small;
}
.side-text {
  position: absolute;
  z-index: 998;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translate(-50%, 50%);
          transform: rotate(180deg) translate(-50%, 50%);
  top: 55vh;
  left: 20px;
  font-size: 10px; }
  .side-text .line {
    display: inline-block;
    width: 1px;
    height: 100px;
    background-color: #68A4C4; }

