{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section id="blog" class="blog container grid-xl page">
     <div class="columns">
       <div class="column col-12">
          <header class="card-header text-center m-2 p-2">
            <div class="card-title"><h1>{{ .Title }}</h1>
            </div>
            {{ partial "breadcrumbs.html" . }}
          </header>
       </div>
      </div>
     <div class="columns">

    {{ range .Paginator.Pages }}
      <div class="col-6 col-md-6 col-sm-12 align-items-stretch">
        <article class="card entry">

                                          {{ if .Params.Image }}

                                  <div class="entry-img">
                                      <a href="{{ .Permalink }}">

                                          <img src="{{ .Params.Image | relURL }}" class="img-responsive" alt="">
                                      </a>
                                  </div>

                                   <h2 class="text-center">
                                     <a href="{{ .Permalink }}">{{ .Title }}</a>
                                   </h2>

                                          {{ end }}

        </article>
      </div>
{{ end }}

        </div><!-- /.row -->
                        <ul class="pagination">
{{ template "_internal/pagination.html" . }}
                        </ul>
        </div><!-- /.container -->
</section>
{{ end }}
