{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section id="blog" class="blog container grid-xl page">
     <div class="columns">
       <div class="column col-12">
          <header class="card-header text-center m-2 p-2">
            <div class="card-title"><h1>{{ .Title }}</h1>
            </div>
            {{ partial "breadcrumbs.html" . }}
          </header>
       </div>
      </div>
     <div class="columns">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{ range $paginator.Pages }}
        <div class="column col-6 col-md-6 col-sm-12">
        <article class="card entry">

                                          {{ if .Params.Image }}

                                  <div class="entry-img">
                                    <a href="{{ .Permalink }}">
                                        <img src="{{ .Params.Image | relURL }}" class="img-responsive" alt="">
                                      </a>
                                  </div>

                                   <h2 class="entry-title">
                                     <a href="{{ .Permalink }}">{{ .Title }}</a>
                                   </h2>
                                {{ partial "metadata.html" . }}
                                <div class="entry-content">
                                    <p class="intro">{{ .Summary }}</p>
                                    <div class="read-more"><a href="{{ .Permalink }}" class="btn btn-info">Continue Reading</a></div>
                                </div>
                                          {{ else }}
                                   <h2 class="entry-title">
                                     <a href="{{ .Permalink }}">{{ .Title }}</a>
                                   </h2>
                                {{ partial "metadata.html" . }}
                                <div class="entry-content">
                                    <p class="intro">{{ .Summary }}</p>
                                    <div class="read-more"><a href="{{ .Permalink }}" class="btn btn-info">Continue Reading</a></div>
                                </div>
                                          {{ end }}

        </article>
        </div>
{{ end }}

</div><!-- /.columns-->


<ul class="pagination">
    {{ partial "pagination.html" . }}
</ul>


        </div><!-- /.container -->
</section>
{{ end }}
