{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="container-xl">
  <div class="row">
       <article class="col-10 col-sm-12 col-mx-auto card">
  <div class="text-dark">
          <div class="col-4 col-sm-12 card-img">
            {{if .Params.Image }}
        <figure class="figure img-entry ">
           <div class="featured-media-inner section-inner medium">
            <img width="1024" height="768" src="{{ .Params.Image | absURL }}"
              class="attachment-post-thumbnail size-post-thumbnail wp-post-image figure-img img-fluid rounded w-100" alt="{{.Title }}"
              sizes="(max-width: 1100px) 100vw, 1100px">
           </div><!-- .featured-media-inner -->
         </figure><!-- .featured-media -->
          </div>
         {{end}}

          <div class="col-7 col-sm-12 card-header text-center">
          {{ partial "breadcrumbs.html" . }}
          <div class="card-title h5"><h1 class="entry-title">{{ .Title }}</h1></div>
          <div class="card-subtitle">{{ partial "metadata.html" . }}</div>
          </div>
  </div>

          <div class="card-body entry-content">
            {{ .Content }}
          </div>
            {{ partial "posts/series.html" . }}
          <div class="entry-footer clearfix">
                <div class="float-left">
 {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
                </div>
                 <div class="float-right share">

                   <a href="http://twitter.com/share?url={{ .Permalink }}" title="Share on Twitter"><i class="fab fa-twitter"></i></a>

                  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><i class="fab fa-facebook"></i></a>

                 </div>
          </div>

        </article>
      </div>
    </div>
        <ul class="col-11 p-4 pagination">
          <li class="page-item page-next text-center">{{ with .NextInSection }}
          <i class="fa fa-arrow-left"></i><a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          </li>
          <li class="page-item page-prev text-center">{{ with .PrevInSection }}
          <a href="{{ .Permalink }}">{{ .Title }}</a><i class="fa fa-arrow-right"></i>
        {{ end }}
          </li>
      </ul>

</section>

{{ end }}
