// Example of project-name.scss
// Define variables to override default ones
$primary-color: #2e5bec;
$dark-color: #3e396b;

/* Load Pico */
//@import "vendor/pico/pico";
@import "node_modules/@picocss/pico/scss/pico.slim";

// Import full Spectre source code
// @import "node_modules/@spectre-org/spectre-css/src/spectre" ;

/* Custom grid */
@import "grid";
/* Custom grid */
@import "gallery";
@import "buttons";
@import "helpers";
@import "navbar";

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/

.btn-toggle {
    outline: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 0.75rem;
    transition: all .25s ease-in;
    border:none;
}
.btn-toggle:hover {
    text-decoration: none;
    color:#00A5FF !important;
}

.dilbtn {
    position: relative;
}

.yan-taraf {
  position: absolute;
  z-index: 998;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg) translate(-50%, 50%);
          transform: rotate(180deg) translate(-50%, 50%);
  top: 45vh;
  left: 20px;
  font-size: 10px; }
  .side-text .line {
    display: inline-block;
    width: 1px;
    height: 100px;
    background-color: #68A4C4; }

pre code {
  background:#000;
  display:block;
  color:#ffffff !important;
  padding:10px;
}

.entry-content a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid #b9cdfb;
}
.entry-content a:hover {
    text-decoration: none;
    color:#00A5FF;
}
.figure .figure-caption {
    color: #00A5FF !important;
}


.kb-club {
    text-align: center;
    margin-top: 1rem
}

.kb-club a {
    font-weight: 700;
    padding: .25rem 0;
    text-decoration: none;
    transition: .4s
}

.kb-club a:hover {
    /*background: #bbdefb*/
}

.kb-club-bg,.kb-club-no-bg {
    border: 2px solid #4caf50;
    padding: .25rem .5rem
}

.kb-club-bg {
    background: #4caf50;
    color: #212121
}
