{{ $folder := .Get "src" }}
{{ $files := readDir (printf "static/%s" $folder) }}

{{ if gt (len $files) 0 }}

<div class="gallery">
  {{ range $i, $file := $files }}
    {{ if (in $file.Name "-thumb") }}
      {{ $full := replace $file.Name "-thumb" "" }}
      <img src="/{{ $folder }}/{{ $file.Name }}" data-full="/{{ $folder }}/{{ $full }}" alt="Photo {{ add $i 1 }}">
    {{ end }}
  {{ end }}
</div>


<div id="lightbox" class="lightbox" style="display:none;">
  <span class="close">&times;</span>
  <img id="lightbox-img" alt="">
</div>
{{ end }}
