{{ $folder := .Get "src" }}
{{ $files := readDir (printf "static/%s" $folder) }}

<div class="gallery">
  {{ range $i, $file := $files }}
    {{ if (in $file.Name "-thumb") }}
      {{ $full := replace $file.Name "-thumb" "" }}
      <img src="/{{ $folder }}/{{ $file.Name }}" data-full="/{{ $folder }}/{{ $full }}" alt="Photo {{ add $i 1 }}">
    {{ end }}
  {{ end }}
</div>

<div id="lightbox" class="lightbox">
  <button class="close">&times;</button>
  <img id="lightbox-img" src="" alt="">
  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>
</div>
