{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <header>
            <h1 class="entry-title">{{ .Title }}</h1>
          </header>
            {{ partial "breadcrumbs.html" . }}
        </div>

      </div>
 </section>
<section class="blog">
  <div class="container m-3 mx-auto">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-lg-8" id="blog-listing-medium">
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $paginator.Pages }}
<article class="post m-3 mx-auto p-3">
                            <div class="row">
                                          {{ if .Params.Image }}

                                <div class="col-md-4">
                                  <div class="image">
                                      <a href="{{ .Permalink }}">

                                          <img src="{{ .Params.Image | relURL }}" class="img-fluid" alt="">
                                      </a>
                                  </div>

                                </div>
                                <div class="col-md-8">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                {{ partial "metadata.html" . }}
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-info">Continue Reading</a></p>
                                </div>
                                          {{ else }}
                                <div class="col-md-12">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                {{ partial "metadata.html" . }}
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-info">Continue Reading</a></p>
                                </div>
                                          {{ end }}
                            </div>
</article>
{{ end }}

                        <ul class="pager">
{{ template "_internal/pagination.html" . }}
                        </ul>
                    </div>
                    <!-- /.col-md-9 -->


                    <!-- *** LEFT COLUMN END *** -->
                    
                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <aside class="col-lg-4 mt-3">
            <div class="sidebar">
                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->
            </div><!-- End sidebar -->
                    </aside>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
</section>
{{ end }}
