{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <header>
            <h1 class="entry-title">{{ .Title }}</h1>
          </header>
            {{ partial "breadcrumbs.html" . }}
        </div>

      </div>
 </section>
<section class="container page blog">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="post entry entry-single">
  {{if .Params.Image }}
  <figure class="entry-img featured-media">
    <div class="featured-media-inner section-inner medium">
      <img width="1024" height="768" src="{{ .Params.Image | absURL }}"
        class="attachment-post-thumbnail size-post-thumbnail wp-post-image rounded mx-auto d-block img-fluid" alt="{{.Title }}"
        sizes="(max-width: 1100px) 100vw, 1100px">
    </div><!-- .featured-media-inner -->
  </figure><!-- .featured-media -->
  {{end}}
          <header class="mb-2">
            <!--<h1 class="entry-title">{{ .Title }}</h1>-->
{{ partial "metadata.html" . }}
          </header>
          <div class="entry-content">
            {{ .Content }}
          </div>
          <div class="entry-footer clearfix">
                <div class="float-left">
 {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
                </div>
                 <div class="float-right share">

                   <a href="http://twitter.com/share?url={{ .Permalink }}" title="Share on Twitter"><i class="fab fa-twitter"></i></a>

                  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><i class="fab fa-facebook"></i></a>

                 </div>
          </div>

        </article>
  <ul class="pager">

    <li class="pagerli float-left next">{{ if .NextPage }}
	<a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">« {{ .NextPage.Title | truncate 50 "..." }}</a>
	{{ end }}</li>

    <li class="pagerli previous float-right">	{{ if .PrevPage }}
	<a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}} »</a>
	{{ end }}</li>
  </ul>
      </div>
                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

         <aside class="col-lg-4">
            <div class="sidebar">

                        {{ partial "sidebar.html" . }}

            </div><!-- End sidebar -->
         </aside> <!-- /.col-lg-4 -->

                   <!-- *** RIGHT COLUMN END *** -->
    </div>
</section>

{{ end }}
