<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    <body class="{{ .Type }} {{ with .File }}{{ .TranslationBaseName }}{{ end }}">

        {{- partial "header.html" . -}}
      <div class="yan-taraf hide-sm">
				<span>I make things</span>
				<strong>simple</strong>
				<span class="line"></span>
			</div>
        <main id="main">
          {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
